
<%= form_for(@quiz) do |f| %>
  <%= render 'shared/quiz_error_messages', object: @quiz %>
    <%= f.label "Quiz title" %>
    <%= f.text_area :title %>
    <div id='questions'>
      <div class="panel-group" id="accordion">
      <%= f.fields_for :questions do |question, num| %>
        <%= render 'edit_question_fields', :f => question %>
      <% end %>

      <div class='links add-question'>
        <%= link_to_add_association 'Add Question', f, :questions %>
              <%= f.submit :submit, class: "btn-submit" %>
      </div>

    </div>
    </div>

  <% end %>
