<% provide(:title, @quiz.title) %>
<div class="row mainpage-container">

  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert form-alert alert-#{message_type}") %>
  <% end %>
  
  <div class="col-md-12">

  <h1><%= @quiz.title %></h1>

  <br>

<% if current_user.edit? || current_user.view? %>


<%= hidden_field_tag :id, @quiz.id %>

<% @n = (1..100).to_a %>

<% @questions.each_with_index do |question, num| %>
<div class="panel-heading">
<h4 class="panel-title">
  <a data-toggle="collapse"  href="#collapse<%= num %>">
  <% if question %>
  <h4><%= @n[num] %>. <%= question.question_title %></h4>
  <% end %>
  </a>
</h4>
</div>

<div id="collapse<%= num %>" class="panel-collapse collapse">

  <% @a = ("A".."Z").to_a %>
  <% question.answers.each_with_index do |answer, i| %>
    <ul>
      <% if answer %>
        <li><%= @a[i] %>.
        <%= answer.answer_title %></li>
      <% end %>
    </ul>
  <% end %>

</div>

  <br>

  <% end %>

  </div>
</div>

<% else %>

<%= hidden_field_tag :id, @quiz.id %>

<% @n = (1..100).to_a %>

<% @questions.each_with_index do |question, num| %>

  <% if question %>
  <h4><%= @n[num] %>. <%= question.question_title %></h4>
  <% end %>


  <br>

<% end %>

<% end %>
