<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="second-nav">
  
<div class="navbar-container">
  
<li style="padding-left:0px;"><%= link_to "About",   about_path %></li>
<li><%= link_to "Faqs", faqs_path %></li>
<li><%= link_to "Help", help_path %></li>
<li><%= link_to "Contact", contact_path %></li>
  
</div>
  
</div>

<div class="background-container">

<div class="background-container-text">
  
<h1>Sign up</h1>
<h4>Sign up to start completing quizzes!</h4>
  
</div>
  
</div>

<div class="row signup-container">
  <div class="col-md-12">
    
   <%= render 'form' %>
    
  </div>
</div>
