    <header class="navbar navbar-fixed-top">
      <div class="page-container navbar-container">

        <%= link_to root_path do %>
        <h2 class="logo">WebbiSkools Quiz Manager</h2>
        <% end %>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if logged_in? %>

              <li><%= link_to "Users", users_path %></li>

            <% if current_user.edit? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Quizzes <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "New quiz", new_quiz_path %></li>
              <li><%= link_to "All quizzes", quizzes_path %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Quizzes", quizzes_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
          </ul>
        </nav>
      </div>
    </header>
